GOOGLE_CLIENT_ID=""
GOOGLE_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
GOOGLE_TOKEN_URI="https://oauth2.googleapis.com/token"
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:8000/auth/google"
YANDEX_CLIENT_ID=""
YANDEX_AUTH_URI="https://oauth.yandex.ru/authorize"
YANDEX_TOKEN_URI="https://oauth.yandex.ru/token"
YANDEX_CLIENT_SECRET=""
YANDEX_REDIRECT_URI="http://localhost:8000/auth/yandex"
ENVIRONMENT="local"
